################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PresaleApi/FileContentIndex/753b1f0c-137a-467e-ba4c-4075be0ce7ad.vsidx
/.vs/PresaleApi/FileContentIndex/a9a491b1-e295-4791-9e68-21badc86c089.vsidx
/.vs/PresaleApi/FileContentIndex/a9a491b1-e295-4791-9e68-21badc86c089.vsidx
